{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Configuration Page for {{ node_type }}</h1>

{% if node_type == 'food' %}
    {% if client.isActuator %}
        <!- Actuator - Food ->
        <div class="button">
            <label for="set_food_refill_start"></label><input id="set_food_refill_start" type="button"
                                                              value="Start Refill">
        </div>
        <div class="button">
            <label for="set_food_refill_stop"></label><input id="set_food_refill_stop" type="button"
                                                             value="Stop Refill">
        </div>
    {% else %}
        <!- Sensor - Food ->
        <div class="line">
            <label for="threshold_top"></label><input id="threshold_top" value="{{ client.lvlThresholdStart }}">
            <label for="set_top_food"></label><input id="set_top_food" type="button"
                                                     data-url="clientapp/food/set/max/{{ client.nodeId }}/"
                                                     value="Set top threshold">

        </div>

        <div class="line">
            <label for="threshold_bottom"></label><input id="threshold_bottom" value="{{ client.lvlThresholdStop }}">
            <label for="set_bottom_food"></label><input id="set_bottom_food" type="button"
                                                        data-url="clientapp/food/set/min/{{ client.nodeId }}/"
                                                        value="Set bottom threshold">

        </div>
    {% endif %}
{% endif %}
{% if node_type == 'hatch' %}
    {% if client.isActuator %}
        <!- Actuator - Hatch ->
        <div class="button">
            <label for="hatch_open"></label><input id="hatch_open" type="button"
                                                   data-url="{% url 'hatch_open' client.nodeId %}" value="Open Hatch">

        </div>
        <div class="button">
            <label for="hatch_close"></label><input id="hatch_close" type="button"
                                                    data-url="{% url 'hatch_close' client.nodeId %}"
                                                    value="Close Hatch">

        </div>
    {% else %}
        <!- Sensor - Hatch ->
        <div class="button">
            <label for="hatch_lock"></label><input id="hatch_lock" type="button"
                                                   data-url="{% url 'hatch_lock' client.nodeId %}" value="Lock Hatch">


        </div>
        <div class="button">
            <label for="hatch_unlock"></label><input id="hatch_unlock" type="button"
                                                     data-url="{% url 'hatch_unlock' client.nodeId %}"
                                                     value="Unlock Hatch">

        </div>
    {% endif %}

{% endif %}
{% if node_type == 'heartbeat' %}
    <div class="line">
        <label for="heartbeat_low"></label><input id="heartbeat_low" value="{{ client.low_Threshold }}">
        <label for="set_heartbeat_low"></label><input id="set_heartbeat_low" type="button"
                                                      data-url="clientapp/heartbeat/set/max/{{ client.nodeId }}/"
                                                      value="Set lower threshold">

    </div>

    <div class="line">
        <label for="heartbeat_high"></label><input id="heartbeat_high" value="{{ client.high_Threshold }}">
        <label for="set_heartbeat_high"></label><input id="set_heartbeat_high" type="button"
                                                       data-url="clientapp/heartbeat/set/min/{{ client.nodeId }}/"
                                                       value="Set upper threshold">

    </div>
{% endif %}
<p>Node Type: {{ node_type }}</p>
<p>{% if client.isActuator %}
    Actuator node
{% else %}
    Sensor node
{% endif %}</p>
<p>{% if node_type != "heartbeat" and client.isFree %}
    Looking for partner
{% else %}
    Paired with a partner
{% endif %}</p>

<br>
<br>
<a class="btn btn-primary" href="{% url 'clients' %}">Return to client list</a>

<script>
    const node_id = {{ node_id }};
    const node_type = "{{ node_type }}";
</script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>